.user_input {
	display: flex;
	justify-content: center;
	/* align-items: center; */
    width: 300px;
    height: 400px;
    background: #ffffff;
    border: solid;
    border-width: 5px;
    border-color: #ffb6b9;
    border-radius: 20px 20px 20px 20px;
	margin: 50px;
    margin-top: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.user_input .values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.user_input .values div {
	justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 4%;
    font-size: 130%;
}

.user_input .x_value .btn-group {
    flex-direction: row;
    display: flex;
    justify-content: center;
    font-size: 70%;
}

.user_input .values input {
    width: 60%;
    align-self: center;
    border-radius: 10px 10px 10px 10px;
    height: 1.5em;
}

.user_input .values select {
    width: 50%;
    align-self: center;
    border-radius: 10px 10px 10px 10px;
    height: 2em;
}

.user_input .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 20%;
}

.user_input .buttons #submit {
    margin: 10%;
    border-radius: 10px 10px 10px 10px;
}

.user_input .buttons #reset {
    margin: 10%;
    border-radius: 10px 10px 10px 10px;
}
